.topicSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  margin-left: 8%;
  margin-top: 3%;
  font-family: 'Poppins', sans-serif;
  /* border: green solid 1px; */
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1%;
  margin-left: 5%;
  width: 82%;
  text-align: center;
  /* border: 1px solid blue; */
}

.tech {
  font-size: 34px;
  font-weight: 500;
  color: #000000;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-content: flex-start;
  gap: 15px;
  margin-left: 2%;
  margin-top: 3%;
  padding: 0 1rem;
  width: 80%;
  text-align: center;
  /* border: 1px solid green; */
  padding: 2%;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 8%;
  margin-top: 6%;
  margin-bottom: 3%;
  padding: 7px;
  width: 50%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e2e8f0;
  /* box-shadow: 2px 4px 6px  rgba(0, 0, 0, 0.1); */
}

.nameAndDate {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.postSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  gap: 10px;
  padding-bottom: 5%;
}

.postTitleAndText {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  padding: 0 1rem;
  /* border: 1px teal solid; */
}

.readPostBtn {
  width: max-content;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  border: 1px solid teal;
  color: white;
}


.readPostBtn:hover {
  border: 1px solid teal;
  /* background-color: #b9e7e7; */
  background-color: white;
  color: rgb(14, 230, 230);
}


.postCard {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e2e8f0;
  /* box-shadow: 2px 4px 6px  rgba(0, 0, 0, 0.1); */
  padding: 1rem;
  max-width: fit-content;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  box-sizing: border-box;
}
/* 
@media (min-width: 768px) {
  .postCard {
    width: 50%;
  }
} */


.postBorderLine {
  margin: 50px auto;
  width: 77%;
  border-top: 1px solid #ccc;
}
